version: '3.8'

services:
  lab4-vulnerable-site:
    build: 
      context: ./vulnerable-site
      dockerfile: Dockerfile
    container_name: lab4-shop
    ports:
      - "8084:8080"
    networks:
      - lab4-network

  lab4-c2-server:
    build:
      context: ./malicious-code/c2-server
      dockerfile: Dockerfile
    container_name: lab4-c2
    ports:
      - "3004:8080"
    volumes:
      - ./c2-data:/app/stolen-data
    environment:
      - NODE_ENV=development
      - PORT=8080
    networks:
      - lab4-network

networks:
  lab4-network:
    driver: bridge
