    environment:
      - NGINX_PROXY_PASS_C2=http://lab4-c2:8080/lab4/c2
  # Vulnerable Shop with Steganography Loader
  vulnerable-site:
    build: ./vulnerable-site
    container_name: lab4-shop
    ports:
      - '8084:8080' # Lab 4 Port
    networks:
      - lab-network

  # Lab 4 C2 Server
  # If running standalone, we need to define it here.
  # If running via main docker-compose, this file is for local testing only.
  c2-server:
    build: ./malicious-code/c2-server
    container_name: lab4-c2
    ports:
      - '3004:8080'
    networks:
      - lab-network
    environment:
      - PORT=8080

networks:
  lab-network:
    driver: bridge
